name: Update Data
on:
  workflow_dispatch:
  schedule:
    - cron: "*/10 * * * *"
concurrency: one-at-a-time
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: python update.py
      - name: Push changes
        run: |
          set -x

          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

          if [[ $(git status --porcelain) ]]; then
            git add raw
            git commit -m "$(date -u +"%Y-%m-%dT%H:%M:%SZ") raw"
            git add sovietscloset.json OOPSIES.md
            git commit -m "$(date -u +"%Y-%m-%dT%H:%M:%SZ")"
            git push origin master
          fi
